<nav class="">
    <div class="nav-fixed  d-flex p-sm-3 p-2 pt-sm-0 z-3">

        
        <app-avatar class="pt-0 pt-sm-4" image="../../../assets/images/profile-picture.png">
            <ng-container name>
                Jack Thomeson
            </ng-container>
        </app-avatar>

        <div class="nav-buttons d-flex p-sm-0">
            <app-common-router-button className="hover-blue text-start" class="pt-sm-4" router="/" [routes]="['/']" activeClass="blue">
                <ng-container content>
                    {{"pages.home" | translate}}
                </ng-container>
            </app-common-router-button>
    
            <app-common-router-button className="hover-blue text-start" class="pt-sm-2" router="/movies" [routes]="['/movie', '/movies']" activeClass="blue">
                <ng-container content>
                    {{"pages.movies" | translate}}
                </ng-container>
            </app-common-router-button>
    
            <app-common-router-button className="hover-blue text-start" class="pt-sm-2" router="/logout" [routes]="['/logout']" activeClass="blue">
                <ng-container content>
                    {{"pages.logout" | translate}}
                </ng-container>
            </app-common-router-button>
        </div>
    </div>
</nav>