
nav{
    --size: 15rem;
    width: var(--size);
}

.nav-fixed{
    flex-direction: column;
    position: fixed;
    background-color: var(--foreground-default-color);
    color:var(--text-default-color);
    height: 100vh;
    width: var(--size);

    transition: background-color var(--transition-theme-time) ease-in-out,
                color 0.15s ease-in-out;
}

.nav-buttons{
  display: flex;
  flex-direction: column;
}

.button-movie{
  width: 100%;
  text-align: left;
  padding-left: 0.75rem;
}

@media (max-width:576px)
{
  nav{
    padding-bottom: 2.25rem;
  }

  .nav-fixed
  {
    flex-direction: row;
    height: auto;
    width: 100vw;
    border-bottom: 2px solid var(--background-default-color);
    
  }

  .nav-buttons{
    flex-direction: row;
    padding: 0.3rem;
  }

  button{
    text-align: center;
    padding: 0.5rem;
  }
}