@defer ()
{
  <div class="d-flex justify-content-center">
    <div class="buttons">
        @for (buttonValue of buttons; track $index)
        {
          <button
          class="button btn btn-light"
          type="button"

          (click)="sendValue(buttonValue)"
          [ngClass]="
          {
            'two-buttons-size': buttonValue === '0',
            'btn-outline-primary': buttonValue == '+' || buttonValue == '−' || buttonValue == '÷' || buttonValue == '×'
            || buttonValue === '%' || buttonValue == 'A' || buttonValue == 'C',
            'equal-button': buttonValue == '=',
          }"
          >
            @if (buttonValue == "A")
            {
              <i class="bi bi-backspace"></i>
            }
            @else
            {
              {{buttonValue}}
            }
          </button>
        }
    </div>
  </div>
}

@placeholder
{
  <div class="d-flex justify-content-center">
    <div class="buttons">
        @for (buttonValue of buttons; track $index)
        {
          <div
            class="button placeholder"
            type="button"
            [ngClass]="
            {
              'two-buttons-size': buttonValue === '0'
            }"
            >
          </div>
        }
    </div>
  </div>
}
