<!-- @defer só nas versões novas -->
@defer ()
{
  <div class="container mt-3 text-center">
    <h4 class="pb-1">Calculadora</h4>

    <div class="saved-signal">
      {{savedSignal}}
    </div>

    <app-display>
      <ng-container display>
        <p class="saved-number text-end pe-2">{{savedNumber}}</p>
        <input class="text-end mb-2 " type="text" id="input-calculator" type="text" [(ngModel)]="actualNumber" >
      </ng-container>
    </app-display>

    <!-- [Componente Filho] = "Componente Pai" -->
    <app-buttons [buttons]="buttons" (EventEmitterValue)="processButton($event)"/>

    <!-- #nome para manipular as funções e atributos deste elemento -->
    <app-history #history></app-history>
  </div>
}

<!-- O que será mostrado antes de carregar o site -->
@placeholder
{
  <div class="container mt-3 text-center">
    <h4 class="placeholder pb-1">Calculadora</h4>

    <div class="saved-signal">
      {{savedSignal}}
    </div>

    <app-display>
      <ng-container display>
        <p class="saved-number text-end pe-2">{{savedNumber}}</p>
        <input class="placeholder text-end mb-2 " type="text" id="input-calculator" type="text" [(ngModel)]="actualNumber" >
      </ng-container>
    </app-display>

    <!-- [Componente Filho] = "Componente Pai" -->
    <app-buttons [buttons]="buttons" (EventEmitterValue)="processButton($event)"/>
  </div>
}
