<div class="d-flex">
    <img class="profile-image rounded-circle" src="{{image}}" [class]="imageClassName">
    <div class="ps-2 d-flex flex-column justify-content-center">
        
        <label class="work-sans" [class]="nameClassName">
            <ng-content select="[name]">

            </ng-content>
        </label>
        
        <label class="work-sans sub-name" [class]="subNameClassName">
            <ng-content select="[subName]">
                
            </ng-content>
        </label>
    </div>
</div>
