<section class="home-component">

    <div class="above-banner rounded-3">
        <h1 class="font-36 work-sans d-flex font-bold">
            {{"home.createYourList" | translate}}
        </h1>
    
        <p>
            {{"home.saveYourMovies" | translate}}
        </p>
    
        <div class="w-25">
            <app-common-router-button className="white" router="/movies">
                <ng-container content>
                    {{"home.seeMovies" | translate}}
                </ng-container>
            </app-common-router-button>
        </div>
    </div>

    <div class="banner"></div>

    <h1 class="row listed-movies font-36 work-sans d-flex">
        {{"home.yourFavoriteMovies" | translate}}
    </h1>

    <!-- getMoviesByName().length > 0 -->
    @if(getUser())
    {    
        @if(getFavoritesMovies())
        {
            <app-white-card class="row listed-movies d-flex justify-content-center w-100 pt-4">
                <ng-container content>
                    <h1 class="row listed-movies font-36 work-sans d-flex">Filmes Mais Bem Avaliados</h1>
                    <app-carrousel-movies [id]="'favorites-movies'" [movies]="getFavoritesMovies()" [movieSlice]="movieSlice" />
                </ng-container>
            </app-white-card>
        }
        @else
        {
            <p>Adicione um Filme</p>
        }
    }
    @else 
    {
        <div class="movie-not-found d-flex flex-column align-items-center justify-content-center">
            <p>{{"moviesPage.noListedMovies" | translate}}</p>
        </div>
    }

    <app-white-card class="row listed-movies d-flex justify-content-center w-100 pt-4">
        <ng-container content>
            <h1 class="row listed-movies font-36 work-sans d-flex">Filmes Mais Bem Avaliados</h1>
            <app-carrousel-movies [id]="'top-rated'" [movies]="getMovies('top_rated')" [movieSlice]="movieSlice" />
        </ng-container>
    </app-white-card>

    <app-white-card class="row listed-movies d-flex justify-content-center w-100 pt-4">
        <ng-container content>
            <h1 class="row listed-movies font-36 work-sans d-flex">Filmes em Cartaz</h1>
            <app-carrousel-movies [id]="'now-playing'" [movies]="getMovies('now_playing')" [movieSlice]="movieSlice" />
        </ng-container>
    </app-white-card>

</section>