body{
    //Azul Claro
    --default-color: #0044ff;
    //Azul Escuro
    --default-dark-color: #1843bb;
    //Azul Transparente da Search Bar
    --transparent-searchbar-color: #0044ff63;

    //Fundo Cinza
    --background-default-color: #EFEFEF;
    //Partes a frente do background no site:
    --foreground-default-color: white;
    //Textos no site:
    --text-default-color: black;
    //Azul Transparente da Search Bar
    --searchbar-text-color: #4B5563;

    //Textos no site:
    --text-placeholder-color: rgb(162, 162, 162);

    --transition-theme-time: 0;
    
    background-color: var(--background-default-color);
    transition: background-color var(--transition-theme-time) ease-in-out;
}


.image-border{
    width: 100%;
    border-radius: 0.625rem;
}

//Fontes
.work-sans{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.font-bold{
    font-weight: 600;
}

.font-12{
    font-size: 0.75rem;
}

.font-14{
    font-size: 0.875rem;
}

.font-18{
    font-size: 1.125rem;
}

.font-20{
    font-size: 1.25rem;
}

.font-22{
    font-size: 1.375rem;
}

.font-24{
    font-size: 1.5rem;
}

.font-36{
    font-size: 2.25rem;
}

.remove-link-style{
    color:var(--text-default-color);
    text-decoration: inherit;
}

//Botões
.custom-movies-button,
app-common-action-button button,
app-common-router-button button{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 0.25rem;
    border:0;
    padding: 0.5rem;
    color:var(--text-default-color);

    transition: 
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
    ;
}

.custom-movies-button:disabled{
    background-color: gray;
    color:rgb(81, 81, 81);
}

.custom-movies-button:hover:disabled{
    background-color: gray;
    color:rgb(81, 81, 81);
}

.border-6{
    border-radius: 0.375rem;
}

//Branco
.white{
    background-color:white;
    color:black;
}

.white:hover{
    background-color:rgb(230, 230, 230);
    color:black;
}


//Azul Claro
.blue,
.hover-blue:hover{
    background-color:var(--default-color);
    color:white;
}

//Azul Escuro
.blue:hover,
.hover-blue:active{
    background-color: var(--default-dark-color);
}